@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or App.css */
* {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  

  *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}


  .inner-element {
    transform: translateZ(40px);
  }